<div class="lessons">
  @if(mode() == 'master') {
    <div class="header">
      <h1>Search Lessons</h1>
      <div class="form-control search-controls">
        <input #search (keyup.enter)="onSearchLesson()" placeholder="search for a lesson" type="text">
        <button (click)="onSearchLesson()" class="btn search">
          search
        </button>
      </div>
    </div>

    @if(lessons().length > 0) {
      <div class="table-container">
        <table class="results-table">
          @for(lesson of lessons(); track lesson.id) {
            <tr>
              <td>{{lesson.description}}</td>
              <td>{{lesson.duration}}</td>
            </tr>
          }
        </table>
      </div>
    }
  }
  @else {

  }
</div>

