<div class="login">

  <div class="login-form">

    <h3>Login</h3>

    <div class="form-control" [formGroup]="form">
      <label>Email:</label>
      <input placeholder="Enter your email" formControlName="email">
    </div>

    <div class="form-control">
      <label>Password:</label>
      <input type="password" placeholder="Enter your password" formControlName="password">
    </div>

  </div>

  <div class="form-actions">
    <button class="btn" routerLink="/home">Home</button>

    <button (click)="onLogin()" class="btn">
      Login
    </button>

  </div>

</div>
